{% extends 'base.html' %}


{% block main %}
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      Ola {{ usuario.funcionario.nome }}
    </div>
    <div class="col-sm">
      <a href="{% url 'logout' %}">LogOut</a>

      {% if usuario.funcionario.empresa %}
        <a href="{% url 'edit_empresa.html' usuario.funcionario.empresa.id %}">Editar Empresa</a>
      {% else %}
      <a href="">Criar Empresa</a>
      {% endif %}
    </div>
  </div>
{% endblock %}